/*GENERAL DATA*/
@viewport{
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body{
  padding: 0 !important;
  margin: 0;
  font-size:2.2em!important;
}

body,html,p,h1,h2,li{
font-family:'Caption'!important;

}

@font-face{
font-family:'Caption';
src:url('Jura-Regular.ttf');
}

@font-face {
    font-family: 'arialregular';
    src: url('fonts/arial-webfont.eot');
    src: url('fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
      //  url('fonts/arial-webfont.woff2') format('woff2'),
         url('fonts/arial-webfont.woff') format('woff'),
         url('fonts/arial-webfont.ttf') format('truetype'),
         url('fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#main{
  background-color: #e8e6e6;

}

#header{
  background: linear-gradient(to bottom, #000 0%, #4c4b4b 100%);
    position: fixed;
    z-index: 2;
}

#header ul {
  display: inline-flex;
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

#header ul  li{
  padding: 20px 10px;
}

h1{
  font-size: 2em;
}

section{
  padding: 2em 2em;
  min-height: 100vh !important;
  padding-top: 4em;
}

#link{
  cursor: pointer;
}

#link:first-child:hover{
  color: #4288d6;
}

#link:nth-child(2):hover{
  color:#cc7636;
}

#link:nth-child(3):hover{
  color: #528454;
}


.description-section{
  display: none;
}

.p-1{
  display: block;
}

#profile{
  width: 200px;
  height: auto;
  border-radius: 100%;
  border: 5px solid rgba(37,111,171, .7);
  Margin-top:4em;
}

.imagenes div img{
  width: 100%;
}

.imagenes{
  padding: 5em 5em;
}

.special{
  width: 50% !important;
  margin-left: 4em;
}

.div-profile{
  text-align: center;
}

.next, .prev{
  cursor: pointer;
  font-size: 2em;
}

.next span, .prev span{
  color: black;
  opacity: 1;
}

.next:hover span, .prev:hover span{
  opacity: .5;
}

.about-section p.text{
  padding-left: 30px !important;
  padding-right: 20px;
}

.iframe iframe{
  width: 100%;
  height: auto;
  position: relative;
}

.iframe{
  padding: 10px;
}





/*MEDIA QUERY PARA MOBILE*/

@media screen and (max-width: 767px){

      #link:first-child{
        color: #4288d6;
      }

      #link:nth-child(2){
        color:#cc7636;
      }

      #link:nth-child(3){
        color: #528454;
      }

      .special{
        width: 100% !important;
        margin-left: 0;
      }


      .imagenes div img{
        margin-bottom: 4em;
      }





/*TERMINA MEDIA QUERY MOBILE*/
}

/*IPAD PORTRAIT*/


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {



/* ENDS IPAD PORTRAIT*/
}


/*IPAD LANDSCAPE*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {



/* ENDS IPAD LANDSCAPE */
}


/*MEDIA QUERY PARA LG*/



@media only screen and(min-width:1200px){



}
